@import './base.css';

#app {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

button {
  background-color: hsla(160, 100%, 37%, 1);
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  border-color: transparent;
  border-width: 0;
}

button:hover {
  background-color: rgb(28, 207, 148);
}

button:disabled {
  background-color: rgb(64, 75, 71);
  color: rgba(235, 235, 235, 0.64)
}

label {
  font-size: 15px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  /* #app {
    display: flex;
    flex-direction: column;
  } */
}